body {
  user-select: none;
  color: black;
}

.front-page--container {
  max-width: 650px;
}

.story--container {
  border-bottom: 0.1rem solid #F0F0F0;
}

.story--comments {
  background-color: #F0F0F0;
  /* border-left: 0.1rem solid #F0F0F0; */
}

.story--container a {
  color: inherit;
  text-decoration: inherit;
}

.story--info {
  font-size: x-small;
}

/* utils */
.clickable {
  cursor: pointer;
}
