.app-container {
  /* user-select: none; // only for frontpage? */
  color: black;
  max-width: 650px;
  touch-action: manipulation;
}

.story--container {
  border-bottom: 0.1rem solid #F0F0F0;
}

.story--comments {
  /* background-color: #F0F0F0; */
  border-left: 0.1rem solid #F0F0F0;
}

.story--container a {
  color: inherit;
  text-decoration: inherit;
}

.story--info {
  font-size: x-small;
}

.item--hn-text p:last-of-type {
  margin-bottom: 0;
}

.level-border-orange {
  border-left: .16rem solid rgb(252, 183, 127);
}

.level-border-red {
  border-left: .16rem solid rgb(230, 151, 151);
}

.level-border-blue {
  border-left: .16rem solid rgba(102, 102, 221, 0.801);
}

.level-border-gray {
  border-left: .16rem solid rgb(189, 186, 186);
}

.level-border-purple {
  border-left: .16rem solid rgb(208, 151, 230);
}

.level-border-green {
  border-left: 1rem rgba(23, 216, 184, 0.616);
}

.link-card {
  border: .05rem solid gainsboro;
  border-radius: 0.7em;
}

.link-card--text {
  border-left: .05rem solid gainsboro;

  color: gray;
  text-decoration: none;
}

/* utils */
.clickable {
  cursor: pointer;
}

.border-top {
  border-top: 0.01em solid gainsboro;
}

.h-border-right {
  border-right: 0.01em solid gainsboro;
}

.gray-background {
  background-color: #F0F0F0;
}
