.app-container {
  user-select: none;
  color: black;
  max-width: 650px;
}

.story--container {
  border-bottom: 0.1rem solid #F0F0F0;
}

.story--comments {
  /* background-color: #F0F0F0; */
  border-left: 0.1rem solid #F0F0F0;
}

.story--container a {
  color: inherit;
  text-decoration: inherit;
}

.story--info {
  font-size: x-small;
}

.item--border {
  /* border-bottom: 0.01em solid gray; */
  border-top: 0.01em solid gainsboro;
}

.level-indicator-gray {
  border-left: solid gainsboro;
}

/* utils */
.clickable {
  cursor: pointer;
}
